/* src/components/signin.css */

.container-center {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
  }
  
  .login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fefefe;
  }
  
  .login-area img {
    width: 150px; /* Ajuste conforme necessário */
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form h1 {
    margin-bottom: 20px;
    color: #1F112A;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px;
    background-color: #1F112A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #401c47;
  }
  
  .login-area,
  form {
    text-align: center;
  }
  
  .login form a {
    margin-top: 10px;
    color: #1F112A;
    text-decoration: none;
  }
  
  .login form a:hover {
    text-decoration: underline;
  }
  
  .background-image {
    flex: 0 0 70%;
    background-image: url('../../assets/bg02.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover;
    background-position: center;
  }
  
  /* Media queries para responsividade */
  @media (max-width: 768px) {
    .container-center {
      flex-direction: column;
    }
  
    .background-image {
      display: none;
    }
  
    .login {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      background-color: #ddd;
    }
  }
  
  @media (max-width: 480px) {
    form input {
      padding: 8px;
    }
  
    form button {
      padding: 8px;
    }
  }
  